.vscode/

projects/project1/linux-rpi-4.14.y/
projects/project1/rpi_qt/ext-qt5pi/
projects/project1/rpi_qt/host-qt5/
projects/project1/InstallerApp/
projects/project1/rpi_qt/qt-everywhere-src-5.12.11/
projects/project1/rpi_qt/rpi-sysroot/
projects/project1/rpi_qt/gcc-linaro-7.5.0-2019.12-x86_64_arm-linux-gnueabihf
projects/project1/rpi_qt/rpi4/gcc-linaro-7.5.0-2019.12-x86_64_aarch64-linux-gnu
projects/project1/rpi_qt/rpi4/rpi4-sysroot
projects/project1/rpi_qt/qt5/

*.img
*.tar
*.tar.gz
*.tar.xz
*.zip