[submodule "projects/laserscanner"]
	path = projects/laserscanner
	url = https://github.com/danialmd81/laserscanner.git
[submodule "projects/flowend"]
	path = projects/flowend
	url = https://github.com/danialmd81/flowend.git
[submodule "projects/hightesla"]
	path = projects/hightesla
	url = https://github.com/danialmd81/hightesla.git
