*.img
*.tar
*.tar.gz
*.tar.xz
*.zip

*.bkp


.vscode/

projects/1_rpi_qt/InstallerApp/

projects/1_rpi_qt/rpi3/qt-everywhere-src-5.12.11/
projects/1_rpi_qt/rpi3/qtbase/
projects/1_rpi_qt/rpi3/rpi-sysroot/
projects/1_rpi_qt/rpi3/gcc-linaro-7.5.0-2019.12-x86_64_arm-linux-gnueabihf
projects/1_rpi_qt/rpi3/qt5/
projects/1_rpi_qt/rpi3/Cross Compile QT for RPI3_Edited.odt

projects/1_rpi_qt/rpi4/qt-everywhere-src-6.9.3/
projects/1_rpi_qt/rpi4/gcc-linaro-7.5.0-2019.12-x86_64_aarch64-linux-gnu
projects/1_rpi_qt/rpi4/rpi4-sysroot
projects/1_rpi_qt/rpi4/qt-host/
projects/1_rpi_qt/rpi4/qt-hostbuild/
projects/1_rpi_qt/rpi4/qtpi-build/
projects/1_rpi_qt/rpi4/qt-raspi/
projects/1_rpi_qt/rpi4/rpi-sysroot/
projects/1_rpi_qt/rpi4/toolchain.cmake
